.description{
    text-align:center;
}

.title{
    font-size: 5rem;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px red,
                 2px 2px 1px red;
    text-align: center;
    letter-spacing: 2px;
}

.h2{
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}

#noodle{
    color:black;
}

.noodle{
    color:white;
    background-color:green;
}

#pancake{
    color:black;
}

.cupcakes{
    color:white;
    background-color:darkslateblue;
}

.tortilla{
    color:white;
    background-color:red;
}

#tortilla{
    color:black;
}

.content{
    border-width:5px;
    border-color:black;
    border-style:solid;
    border-radius:10px;
}

.back{
    width:150px;
    text-align:center;
    margin:20px;
    margin-left:45%;
    border-width:2px;
    border-color:black;
    border-style:solid;
}