.title{
    text-align:center;
    font-size:40px;
    font-family:'Times New Roman', Times, serif;
}

#tortilla{
    background-color:red;
    color:white;
}

.h2{
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
}

.tortilla{
    color:white;
    background-color:red;
}